{% macro nav(section) %}
    <ul class="nav">
        <li{% if section == 'index' %} class="active"{% endif %}><a href="{{ url_for('index') }}">Home</a></li>
        <li{% if section == 'services' %} class="active"{% endif %}><a href="{{ url_for('services') }}">Services</a></li>
        <li><a href="https://github.com/foauth/oauth-proxy">Source</a></li>
    </ul>
    <ul class="nav pull-right">
        {% if current_user.is_authenticated() %}
        <li><a href="{{ url_for('logout') }}">Log out</a></li>
        {% else %}
        <li{% if section == 'login' %} class="active"{% endif %}>
            <a href="{{ url_for('login') }}">Log in</a>
        </li>
        {% endif %}
    </ul>
{% endmacro %}

<!doctype html>
<html>
	<head>
{% block head %}
		<title>OAuth proxy</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
	</head>
	<body>
		<div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    {% block nav %}{{ nav('index') }}{% endblock %}
                </div>
            </div>
		{% with messages = get_flashed_messages(with_categories=True) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category|safe }}">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        {{ message|safe }}
                    </div>
				{% endfor %}
			{% endif %}
		{% endwith %}
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
