{% extends 'base.html' %}

{% block nav %}{{ nav('login') }}{% endblock %}

{% block content %}
<div class="content">
    <div class="page-header">
        <h1>Log in</h1>
    </div>
    <div class="row">
        <div class="offset3 span6">
            <form action="{{ url_for('login') }}" method="post" class="row">
                {{ form.csrf_token }}
                <p>
                    {% if form.errors.email %}
                    <strong class="error">{{ form.errors.email.0|safe }}</strong>
                    {% endif %}
                    <input class="span6" type="email" id="login_email" name="email" {% if form.data.email %}value="{{ form.data.email }}"{% endif %} placeholder="{{ form.email.label.text }}">
                </p>
                <p>
                    {% if form.errors.password %}
                    <strong class="error">{{ form.errors.password.0|safe }}</strong>
                    {% endif %}
                    <input class="span6" type="password" id="login_password" name="password" placeholder="{{ form.password.label.text }}">
                </p>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="offset2 span8">
            <p>If you&rsquo;ve forgotten your password, you can reset it using the same <code>setuser</code> command you used to create your account in the first place.</p>
            <pre>
$ <kbd>heroku run setuser <var>email@example.com</var></kbd>
<samp>Running `setuser <var>email@example.com</var>` attached to terminal... up, run.<var>1234</var></samp>
<samp><var>email@example.com</var> already exists, setting password</samp>
<samp>Password: </samp>
<samp>Password (again): </samp>
<samp>Updated password for <var>email@example.com</var></samp></pre>
        </div>
    </div>
</div>
{% endblock %}
